# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# Flutter metadata
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# Generated plugin registrants
**/generated_plugin_registrant.*
**/GeneratedPluginRegistrant.*
**/generated_plugins.cmake

# iOS/macOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Podfile.lock
**/macos/Flutter/ephemeral/
**/macos/Podfile.lock

# Android
**/android/local.properties
**/android/.gradle/
**/.cxx/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Temporary files
git_files.txt
git_files_utf8.txt
